<a href="https://colab.research.google.com/github/carloslme/thinkstats2_exercises/blob/main/testing_data_on_google_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!ls

sample_data

# Description
The data collected is from the US Centers for Disease Control and Prevention (CDC), and is called **National Survey of Family Growth (NSFG)**, which is intended to gather "information on family life, marriage and divorce, pregnancy, infertility, use of contraception, and men's and women's health. The results are used... to plan health services and health education programs, and to do statistical studies of families, fertiliy, and health"

The goal of the survey is to draw conclusions about a **population**. Specifically to investigate whether first babies tend to come late, as well as answer pther questions. 

Other concepts: 
A collected subset of the pupulation is called **sample**. The people who participate in a survey are called **respondents**. Each survey deployment is called a **cycle**.

#### Types of studies
* Cross-sectional study: captures a snapshot of a group at a point in time. Cross-sectional studies are meant to be **representative**, which means that every member of thje target population has an equal chance of participating.
* Logitudinal study: observes a group repeatedly over a period of time.

THE NSFG is not representative, is deliberately oversampled for three groups --Hispanics, African Americans and teenagers-- at rates higher than their representation in the U.S. population, in order to make sure that the number of respondents in each of these groups is large enough to draw valid statistical inferences.

# Importing Data

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
%cd /content/gdrive/MyDrive/Colab\ Notebooks/

/content/gdrive/MyDrive/Colab Notebooks

In [4]:
!ls

Chapter_1_Exploratory_Data_Analysis.ipynb
Chapter1_Exploratory_Data_Analysis.ipynb

In [5]:
!git clone https://github.com/AllenDowney/ThinkStats2

Cloning into 'ThinkStats2'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 2821 (delta 4), reused 8 (delta 3), pack-reused 2807
Receiving objects: 100% (2821/2821), 172.51 MiB | 13.40 MiB/s, done.
Resolving deltas: 100% (1604/1604), done.
Checking out files: 100% (485/485), done.

In [6]:
%cd /content/gdrive/MyDrive/Colab\ Notebooks/ThinkStats2

/content/gdrive/MyDrive/Colab Notebooks/ThinkStats2

In [7]:
!ls

book  CONTRIBUTING.md  examples   LICENSE    setup.py	thinkplot    workshop
code  environment.yml  homeworks  README.md  solutions	thinkstats2

In [9]:
%cd /content/gdrive/MyDrive/Colab\ Notebooks/ThinkStats2/code

/content/gdrive/MyDrive/Colab Notebooks/ThinkStats2/code

In [12]:
!ls

1982NSFGData.dat.gz	      chap03soln.py   mystery2.dat
1995FemRespData.dat.gz	      chap04ex.ipynb  mystery3.dat
2002FemPreg.dat.gz	      chap05ex.ipynb  mystery4.dat
2002FemPreg.dct		      chap06ex.ipynb  mystery5.dat
2002FemResp.dat.gz	      chap06soln.py   mystery6.dat
2002FemResp.dct		      chap07ex.ipynb  mystery7.dat
2002Male.dat.gz		      chap07soln.py   mystery.py
2002Male.dct		      chap08ex.ipynb  normal.py
2006_2010_FemPreg.dat.gz      chap08soln.py   nsfg2.py
2006_2010_FemPregSetup.dct    chap09ex.ipynb  nsfg.py
2006_2010_FemResp.dat.gz      chap09soln.py   pandas_demos.ipynb
2006_2010_FemRespSetup.dct    chap10ex.ipynb  pandas_examples.ipynb
2006_2010_Male.dat.gz	      chap11ex.ipynb  PEP_2012_PEPANNRES_metadata.csv
2006_2010_MaleSetup.dct       chap12ex.ipynb  PEP_2012_PEPANNRES_with_ann.csv
2011_2013_FemPregData.dat.gz  chap12soln.py   populations.csv
2011_2013_FemPregSetup.dct    chap13ex.ipynb  populations.py
2011_2013_FemRespData.dat.gz  chap13soln.py   probability.py
2011_2013_FemRespSetup.dct    chap14ex.ipynb  regression.py
2011_2013_MaleData.dat.gz     chap14soln.py   relay.py
2011_2013_MaleSetup.dct       cumulative.py   relay_soln.py
analytic.py		      density.py      requirements.txt
Apr25_27thAn_set1.shtml       estimation.py   scatter.py
babyboom.dat		      first.py	      setup.py
brfss.py		      hinc06.csv      survival.ipynb
CDBRFS08.ASC.gz		      hinc2.py	      survival.py
CDBRFS08ASC.ZIP		      hinc.py	      survival_test.py
chap01ex.ipynb		      hinc_soln.py    test_models.py
chap01ex.py		      hypothesis.py   thinkplot.py
chap01soln.py		      linear.py       thinkplot_test.py
chap02ex.ipynb		      Makefile	      thinkstats2.py
chap02ex.py		      mj-clean.csv    thinkstats2_test.py
chap02soln.py		      mystery0.dat    timeseries.py
chap03ex.ipynb		      mystery1.dat

In [13]:
! python nsfg.py

(13593, 244)
All tests passed.

In [16]:
import nsfg
df = nsfg.ReadFemPreg()
df.co

       caseid  pregordr  howpreg_n  ...  sest  cmintvw  totalwgt_lb
0           1         1        NaN  ...     9      NaN       8.8125
1           1         2        NaN  ...     9      NaN       7.8750
2           2         1        NaN  ...    12      NaN       9.1250
3           2         2        NaN  ...    12      NaN       7.0000
4           2         3        NaN  ...    12      NaN       6.1875
...       ...       ...        ...  ...   ...      ...          ...
13588   12571         1        NaN  ...    78      NaN       6.1875
13589   12571         2        NaN  ...    78      NaN          NaN
13590   12571         3        NaN  ...    78      NaN          NaN
13591   12571         4        NaN  ...    78      NaN       7.5000
13592   12571         5        NaN  ...    78      NaN       7.5000

[13593 rows x 244 columns]

In [17]:
df.columns

Index(['caseid', 'pregordr', 'howpreg_n', 'howpreg_p', 'moscurrp', 'nowprgdk',
       'pregend1', 'pregend2', 'nbrnaliv', 'multbrth',
       ...
       'laborfor_i', 'religion_i', 'metro_i', 'basewgt', 'adj_mod_basewgt',
       'finalwgt', 'secu_p', 'sest', 'cmintvw', 'totalwgt_lb'],
      dtype='object', length=244)

In [18]:
df.describe

<bound method NDFrame.describe of        caseid  pregordr  howpreg_n  ...  sest  cmintvw  totalwgt_lb
0           1         1        NaN  ...     9      NaN       8.8125
1           1         2        NaN  ...     9      NaN       7.8750
2           2         1        NaN  ...    12      NaN       9.1250
3           2         2        NaN  ...    12      NaN       7.0000
4           2         3        NaN  ...    12      NaN       6.1875
...       ...       ...        ...  ...   ...      ...          ...
13588   12571         1        NaN  ...    78      NaN       6.1875
13589   12571         2        NaN  ...    78      NaN          NaN
13590   12571         3        NaN  ...    78      NaN          NaN
13591   12571         4        NaN  ...    78      NaN       7.5000
13592   12571         5        NaN  ...    78      NaN       7.5000

[13593 rows x 244 columns]>

In [19]:
# Validation
df.outcome.value_counts().sort_index()

1    9148
2    1862
3     120
4    1921
5     190
6     352
Name: outcome, dtype: int64